// Спрайты
@import "../core/sprite-coords.styl"
@import "../core/png-sprite.styl"


html
	font-size 10px
	
body
	font-size 1.6rem
	width 90rem
	margin 0 auto
	text-align center
	padding-top 2rem




.icon1
	sprite(a3, 100%)

.icon2
	sprite(a4, 25%)
	
.icon3
	sprite(a3, 400%)

.icon4
	sprite(a4, 100%)

	